@import url('http://fonts.cdnfonts.com/css/armalite-rifle');

body {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding: 0px;
    margin: 0;
    overflow-x: hidden;
    /*
    */
}

body.transition-control *{
    transition: none !important;
}

.test {
    box-shadow: 0 0 30px #fdec02 inset;
    margin: 0;
    padding: 0;
}

.text-content {

    font-family: 'Armalite Rifle', sans-serif;
    font-weight: 100;
    color: #fa6868;
    background-color: #fff;  
    margin: 30px;
    font-size: 3.5rem;
}

.text-content-2 {
    font-weight: bolder;
    position: relative;
    color: #000;
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    font-size: 1rem;
}

.full-box {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    margin-bottom: 30px;
    margin-left: 4rem;
}

.container {
    display: flex;
    flex-direction: column;
}

.image {
    width: 360px;
    height: 170px;
}

.title {
    font-weight: 900;
    font-size: 1.2rem;
    text-align: center;
    color: #fcfcfc;
    background-color: #ffd001f6;
    box-shadow: 0 0 30px #fd060660 inset;
}
a:link {
    text-decoration: none;
}
a:hover .title {
    background-color: rgb(253, 150, 66);
    box-shadow: 0 0 30px #fd0606c4 inset;
}
a:hover .container {
    box-shadow: 0 4px 8px  #00000030, 0 6px 20px #00000030;
}
footer {
    display: block;
    background-color: rgb(66, 64, 54);
    line-height: 2rem;
    color: white;
    text-align: center;
 }